.dashboard {
    border-top: rem(1px) solid var(--border-color);
    border-left: rem(1px) solid var(--border-color);

    position: relative;
}

.sidebar__show-btn {
    background-color: $purple-400;
    transition: background-color 0.3s ease,
    opacity 0.5s ease-in-out;
    border: none;
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 3.5rem;
    height: 3rem;
    display: grid;
    place-content: center;
    cursor: pointer;
    border-radius: 0 1.5rem 1.5rem 0;
    opacity: 0;

    img {
        width: 1rem;
    }

    @include hover() {
        background-color: $purple-100;
    }
}
