
.header {
    position: relative;
    padding: rem(20px) 1rem;
    user-select: none;
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 3vw , 1.5rem);
    background-color: var(--header-bg);

    @include m1() {
        padding: 1.6rem rem(26px);
        gap: 1.5rem;
    }
}

.header__logo-img {
    height: 1.5rem;
    width: 1.5rem;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.header__logo-text {
    display: none;
    color: var(--font-color);

    @include m1() {
        display: block;
        padding-right: rem(80px);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: -1.8rem;
            bottom: -1.8rem;
            border-right: rem(1px) solid var(--border-color);
        }
    }
    @include fs32();
}

.header__board-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border: none;
    font-family: 'Bold';
    cursor: pointer;
    color: var(--font-color);

    @include fs18();

    img {
        width: 1rem;
        height: 0.5rem;
        object-fit: contain;
        object-position: center;
    }

    @include m1() {
        display: none;
    }
}

.header__board {
    display: none;

    @include m1() {
        display: block;
        font-family: 'Bold';
    }

    @include fs18();
}

.header__btn-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;

    @include m1() {
        gap: 1.5rem;
    }
}

.header__add-btn {
    font-size: 2rem;
    flex-shrink: 0;
    @include btn-secondary();

    img {
        height: 0.75rem;
    }

    @include m1() {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
            height: 0.5rem;
        }
    }
    @include fs15();

    &.header__add-btn--disabled {
        cursor: no-drop;
        background-color: $purple-100;
    }
}

.header__add-btn-content {
    display: none;

    @include m1() {
        display: block;
    }
    @include fs15();
}

.header__dots {
    height: 1rem;
    width: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
        width: 0.25rem;
        height: 100%;
        object-fit: contain;
        object-position: center;
    }

    @include m1() {
        height: 1.25rem;

        img {
            width: 0.5rem;
        }
    }
}

.header__board-popup {
    z-index: 1;
    position: absolute;
    width: rem(190px);
    background-color: var(--header-bg);
    border-radius: 1rem;
    padding: 1rem;
    right: 1rem;
    top: 90%;
    display: grid;
    gap: 1rem;
    place-items: start;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: block;
        font-size: 1rem;
    }
}

.header__board-popup--visible {
    opacity: 1;
}

.header__edit-board {
    color: $gray-300;
}

.header__delete-board {
    color: $red-400;
}

.lang-dropdown {
    position: relative;
    height: 20px;
    margin-right: 0.3rem;

}

.lang-dropdown__toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.lang-dropdown__menu {
    position: absolute;
    z-index: 20;
    top: 1.7rem;
    left: -0.5rem;
    background-color: var(--body-bg);
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: grid;
    gap: 0.3rem;


    .dropdown-item {
        width: 2rem;
        display: block;
    }

}

.lang-dropdown:has(.lang-dropdown__toggle[aria-expanded="false"]) {
    .lang-dropdown__menu {
        display: none;
    }
}
