html,
body {
    overflow-x: hidden;
    overflow-x: clip;
}

body {
    font-family: "Regular";
    min-height: 100vh;
    color: var(--font-color);
    background-color: var(--body-bg);
}

.wrapper {
    display: grid;
    grid-template-rows: max-content 1fr;
    min-height: 100vh;
}

.main {
    position: relative;
    display: flex;
}
